:root{
    --VERMELHO: #e50914;
    --PRETO: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--PRETO);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 20px;
    color: var(--VERMELHO);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/capa.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 70%;
    text-shadow: 1px 1px black;
}

.titulo {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-shadow: black 1px 1px;
}

.botao {
    background-color: rgba(43, 42, 42, 0.5);
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .7s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}


.container1{
    margin-left: 0px;

}

.filme-principal .container2{
    width: 70%;
    margin-left: 20px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-filmes{
    margin-top: 7px;
}
